
/**
 * Adometry logo.
 */

.logo[data-logo="Adometry"] {
  width: 2.8636363636363638em;
}

.logo[data-logo="Adometry"] > * {
  background-image: url(images/logo.svg);
  margin: 0 0 0 0;
}

.logo[data-logo="Adometry"][data-color="black"] > * {
  background-image: url(images/logo-black.svg);
}

.logo[data-logo="Adometry"][data-color="white"] > * {
  background-image: url(images/logo-white.svg);
}